.light {
  --md-sys-color-primary: rgb(0 105 79);
  --md-sys-color-surface-tint: rgb(0 108 81);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 133 100);
  --md-sys-color-on-primary-container: rgb(245 255 248);
  --md-sys-color-secondary: rgb(93 95 95);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 255 255);
  --md-sys-color-on-secondary-container: rgb(116 118 118);
  --md-sys-color-tertiary: rgb(112 93 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 222 89);
  --md-sys-color-on-tertiary-container: rgb(117 97 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 251 246);
  --md-sys-color-on-background: rgb(23 29 26);
  --md-sys-color-surface: rgb(245 251 246);
  --md-sys-color-on-surface: rgb(23 29 26);
  --md-sys-color-surface-variant: rgb(216 230 221);
  --md-sys-color-on-surface-variant: rgb(61 73 68);
  --md-sys-color-outline: rgb(109 122 115);
  --md-sys-color-outline-variant: rgb(188 202 194);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 47);
  --md-sys-color-inverse-on-surface: rgb(237 242 237);
  --md-sys-color-inverse-primary: rgb(107 218 178);
  --md-sys-color-primary-fixed: rgb(136 247 206);
  --md-sys-color-on-primary-fixed: rgb(0 33 22);
  --md-sys-color-primary-fixed-dim: rgb(107 218 178);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 60);
  --md-sys-color-secondary-fixed: rgb(226 226 226);
  --md-sys-color-on-secondary-fixed: rgb(26 28 28);
  --md-sys-color-secondary-fixed-dim: rgb(198 198 199);
  --md-sys-color-on-secondary-fixed-variant: rgb(69 71 71);
  --md-sys-color-tertiary-fixed: rgb(255 225 110);
  --md-sys-color-on-tertiary-fixed: rgb(34 27 0);
  --md-sys-color-tertiary-fixed-dim: rgb(228 197 66);
  --md-sys-color-on-tertiary-fixed-variant: rgb(84 70 0);
  --md-sys-color-surface-dim: rgb(214 219 215);
  --md-sys-color-surface-bright: rgb(245 251 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 240);
  --md-sys-color-surface-container: rgb(234 239 234);
  --md-sys-color-surface-container-high: rgb(228 234 229);
  --md-sys-color-surface-container-highest: rgb(222 228 223);
}
